body{
    background: url("./img/cloudsBackground.jpg") no-repeat center fixed;
    background-size: cover;
}
.ground{
    height: 150px;
    background-color: rgb(130, 24, 24);
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}