h1 {
    color: #E9C11F;
    margin-top: 0px;
}

a {
    background-color: white;
    border: 3px solid black;
    color: maroon;
    border-radius: .5rem;
    text-decoration: none;
    padding: 5px;
    margin: 0px 20px;
}

a:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
}

body {
    background-image: url('./img/walsh.JPG');
    padding-left: 60px;
    overflow:hidden;
}
.page-container{
    display:flex;
    flex-direction: column;
    margin: 21%;
    height: 20vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: #8C8A87;
    border: 6px solid maroon;
    border-radius: 2rem;
    overflow-wrap: break-word;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.back {
    align-self: flex-start; 
    margin-left: 40px;
}